PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "notifications" ("id" integer primary key autoincrement not null, "type" varchar not null, "channel" varchar not null default 'app', "recipient" varchar not null, "subject" varchar, "message" text not null, "data" text, "status" varchar not null default 'pending', "priority" varchar not null default 'normal', "scheduled_at" datetime, "sent_at" datetime, "read_at" datetime, "failed_at" datetime, "error_message" text, "service_name" varchar, "reference_id" varchar, "retry_count" integer not null default '0', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
CREATE TABLE IF NOT EXISTS "roles" ("ROLE_ID" integer primary key autoincrement not null, "ROLE_CODE" text, "ROLE_NAME" text, "ROLE_DESCRIPTION" text, "ROLE_STATUS" integer not null default '1', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO roles VALUES(1,'admin','Administrador','Acceso total',1,'2025-12-09 19:47:18','2025-12-09 19:47:18',NULL);
INSERT INTO roles VALUES(2,'user','Usuario','Acceso limitado',1,'2025-12-09 19:47:18','2025-12-09 19:47:18',NULL);
CREATE TABLE IF NOT EXISTS "permissions" ("ID" integer primary key autoincrement not null, "PERM_CODE" text, "PERM_NAME" text, "PERM_DESCRIPTION" text, "PERM_MENU_AREA" text, "PERM_ROUTE_NAME" text, "PERM_CONTROLLER" text, "PERM_ACTION" text, "PERM_MENU_PARENT_LABEL" text, "PERM_MENU_PARENT_GROUP" text, "PERM_MENU_PARENT_ID" integer, "PERM_MENU_ORDER" integer, "PERM_STATUS" integer not null default '1', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO permissions VALUES(1,'view_notifications','Ver Notificaciones','Permite ver la lista y detalle de notificaciones',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,'2025-12-09 19:47:18','2025-12-09 19:47:18',NULL);
INSERT INTO permissions VALUES(2,'create_notifications','Crear Notificaciones','Permite crear nuevas notificaciones',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,'2025-12-09 19:47:18','2025-12-09 19:47:18',NULL);
INSERT INTO permissions VALUES(3,'mark_notifications_read','Marcar Le├¡do','Permite marcar notificaciones como le├¡das',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,'2025-12-09 19:47:18','2025-12-09 19:47:18',NULL);
CREATE TABLE IF NOT EXISTS "usuarios" ("ID" integer primary key autoincrement not null, "USUARIO" text not null, "PASSWORD" text not null, "SUCURSAL" text, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO usuarios VALUES(1,'admin','$2y$12$YuOcSs2YttF5KaN.gKVEwuB/cZcGBwi6yjbZw2Ozu2Jwga.N4KShO','Central','2025-12-09 19:47:20','2025-12-09 19:47:20',NULL);
INSERT INTO usuarios VALUES(2,'user','$2y$12$HaBBvVEuJJmJntCc4Ly4OerFkYDmjrtY3PKFbxtb9BdqY5bQtw4l2','Sucursal 1','2025-12-09 19:47:20','2025-12-09 19:47:20',NULL);
INSERT INTO usuarios VALUES(3,'admin@admin.com','$2y$12$Az1kHQqRy83K1nA9KxGOjeJO26I72n24He/nu2Xb1kapfgydu/b4C','Central','2025-12-09 20:22:19','2025-12-09 20:22:19',NULL);
CREATE TABLE IF NOT EXISTS "user_role" ("USER_ROLE_ID" integer primary key autoincrement not null, "USER_ID" integer not null, "ROLE_ID" integer not null, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("USER_ID") references "usuarios"("ID") on delete cascade, foreign key("ROLE_ID") references "roles"("ROLE_ID") on delete cascade);
INSERT INTO user_role VALUES(1,1,1,'2025-12-09 19:47:20','2025-12-09 19:47:20',NULL);
INSERT INTO user_role VALUES(2,2,2,'2025-12-09 19:47:20','2025-12-09 19:47:20',NULL);
INSERT INTO user_role VALUES(3,3,1,'2025-12-09 20:22:19','2025-12-09 20:22:19',NULL);
CREATE TABLE IF NOT EXISTS "roles_permissions" ("ROLE_ID" integer not null, "PERM_ID" integer not null, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("ROLE_ID") references "roles"("ROLE_ID") on delete cascade, foreign key("PERM_ID") references "permissions"("ID") on delete cascade, primary key ("ROLE_ID", "PERM_ID"));
INSERT INTO roles_permissions VALUES(1,1,'2025-12-09 19:47:19','2025-12-09 19:47:19',NULL);
INSERT INTO roles_permissions VALUES(1,2,'2025-12-09 19:47:19','2025-12-09 19:47:19',NULL);
INSERT INTO roles_permissions VALUES(1,3,'2025-12-09 19:47:19','2025-12-09 19:47:19',NULL);
COMMIT;
